/*
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
  */

/*------------- START VISTA INICIO  ----------------*/

.cabecera {
  position: relative;
}
.menu {
  display: flex;
  justify-content: space-around;
}

.menu__item {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.contenido {
  position: absolute;
  left: 50%;
}

.img-banner {
  filter: brightness(70%);
}

.container-dropdown {
  /* height: 80px; */
}

.apoyo-desarrollador {
  height: 300px;
  background-color: aquamarine;
  margin-top: 15px;
}
.apoyo-desarrollador__img {
  width: 100%;
}

.footer {
  /* height: 60px; */
  margin-top: 20px;
  border-top: 1px solid #000;
  background-color: rgb(122, 188, 122);
}

.footer p:first-child {
  text-transform: uppercase;
  color: rgb(136, 63, 63);
  font-weight: bold;
}

.footer p:last-child {
  font-weight: bold;
}

.footer .redes-sociales i {
  font-size: 30px;
  margin: 0 15px;
  color: #000;
}
@media (min-width: 768px) {
  .fa-heart {
    font-size: 30px;
  }
  .contenido-cabecera {
    position: absolute;
    top: calc(50% - 102px);
  }

  .contenido-cabecera__titulo {
    font-size: 80px;
  }

  .menu {
    background-color: #fff;
    position: absolute;
    bottom: -208px;
    left: 30%;
    display: flex;
    border: 1px solid #000;
  }

  .menu__item {
    color: #000;
    font-size: 30px;
    /* margin-left: 30px; */
    padding: 0 10px;
    border-right: 1px solid #000;
  }
}

/*------------- END VISTA INICIO  ----------------*/
